<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_area :time %>
  </div>
  <div class="field">
    <%= f.label :high %><br>
    <%= f.number_field :high %>
  </div>
  <div class="field">
    <%= f.label :low %><br>
    <%= f.number_field :low %>
  </div>
  <div class="field">
    <%= f.label :rain %><br>
    <%= f.text_field :rain %>
  </div>
  <div class="field">
    <%= f.label :cloud %><br>
    <%= f.number_field :cloud %>
  </div>
  <div class="field">
    <%= f.label :run_id %><br>
    <%= f.number_field :run_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
