<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @point.time %>
</p>

<p>
  <strong>High:</strong>
  <%= @point.high %>
</p>

<p>
  <strong>Low:</strong>
  <%= @point.low %>
</p>

<p>
  <strong>Rain:</strong>
  <%= @point.rain %>
</p>

<p>
  <strong>Cloud:</strong>
  <%= @point.cloud %>
</p>

<p>
  <strong>Run:</strong>
  <%= @point.run_id %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
