<p id="notice"><%= notice %></p>

<p>
  <strong>Run:</strong>
  <%= @run.run %>
</p>

<p>
  <strong>Location:</strong>
  <%= @run.location %>
</p>

<p>
  <strong>Model:</strong>
  <%= @run.model %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
