<!DOCTYPE html>
<html>
<head>
	<title>Weather!</title>
	<meta name="description" content="Advanced forecast data. Support for more cities coming soon. ">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= include_gon %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %> "><%= link_to root_path do %><div class="btn btn-primar">Chart</div><% end %></li>
        <li class="<%= 'active' if current_page?(subscriptions_path) %> "><%= link_to subscriptions_path do %><div class="btn btn-primar">Subscriptions</div><% end %></li>
        <% if current_page?(root_path) %>
        <li><a><div class="timer btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="You can't click me yet">Loading</div></a></li>
		    <li><a><div class="again btn btn-success btn-sm">Play Again</div></a></li>
		    <li><a><div class="btn btn-primary btn-sm" data-toggle="modal" data-target=".why-modal">Why?</div></a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>
</body>
<footer>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</footer>
</html>