<!DOCTYPE html>
<html>
<head>
	<title>Weather!</title>
	<meta name="description" content="Advanced forecast data. Support for more cities coming soon. ">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= include_gon %>
</head>
<body>
<%= yield %>
</body>
<footer>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</footer>
</html>